body {
    background-color: #D9DFF9;
}

.header-image > img{
    margin-top: 2%;
    margin-left: 2%;
    width: 10%;
    height: 30%;
}

.header-image{
    display: flex;
    align-items: center;
}

span{
    font-size: 20px;
    padding-left: 3%;
}

@media all and (max-width: 320px) {
    span {
        display: none;
    }

}